body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
select,
button {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background 0.4s ease-in, color 0.4s ease-in;
    border-radius: 4px;
    margin-bottom: 15px;
}

button:hover {
    background-color: white;
    transition: background 0.4s ease-in, color 0.4s ease-in;
    color: black;
}